<section id="about" class="container content-section">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="row">
      <br/>
       <center>
       <body>
    	<div class="container" style="width: 70%; height: 70%;">
      	<div class="embed-responsive embed-responsive-16by9">
        <center>
        	<iframe width="560" height="315" src="https://www.youtube.com/embed/HLZuvATx9k0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      	</center>
	</div>
    	</div>
      </body>
      </center>
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Us</h2>
      <h3>Our team aims to solve three problems faced by agriculture in Kazakhstan.</h3>
      <span style="color: gray">
      <h4>1. Billions of dollars are spent on herbicides to fight with weeds.</h4>
      <h4>2. Weeds get resistant to herbicides, due to usage in high doses.</h4>
      <h4>3. Herbicides largely contribute to human health problems and water, soil, and air contamination.</h4>
      </span>
    </div>
    <div class="col-lg-8 col-lg-offset-2"> 
      <br/>
      <h2>Meet the Team</h2>
      <br/>
      <div>
        <table width="100%" border="0" cellpadding="10">
          <tr>

            <td align="center" valign="center">
              <img src="img/miras.png" style="width: 12vw" alt="Miras Sovetov"></br>
              <p>
                <span style="font-size: 3.0vh">Miras Sovetov</span></br>
                <span style="font-size: 2.5vh; color: silver;">Founder and CEO</span></br> 
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/vipin.png" style="width: 12vw" alt="Vipin Kizhepatt"></br>
              <p>
                <span style="font-size: 3.0vh">Vipin Kizhepatt</span><br/>
                <span style="font-size: 2.5vh; color: silver;">VP for Engineering</span></br> 
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>
            
            <td align="center" valign="center">
              <img src="img/vladimir.png" style="width: 12vw" alt="Vladimir Novokhatsky"></br>
              <p>
                <span style="font-size: 3.0vh">Vladimir Novokhatsky</span><br/>
                <span style="font-size: 2.5vh; color: silver;">Electrical Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td align="center" valign="center">
              <img src="img/aidar.png" style="width: 12vw" alt="Aidar Alimbayev"><br/>
              <p>
                <span style="font-size: 3.0vh">Aidar Alimbayev</span><br/>
                <span style="font-size: 2.5vh; color: silver;">Electrical Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/daniyar.png" style="width: 12vw" alt="Daniyar Amantayev"><br/>
              <p>
                <span style="font-size: 3.0vh">Daniyar Amantayev</span><br/>
                <span style="font-size: 2.5vh; color: silver;">Software Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/otaniyoz.png" style="width: 12vw" alt="Otaniyoz Otaniyozov"><br/>
              <p>
                <span style="font-size: 3.0vh">Otaniyoz Otaniyozov</span><br/>
                <span style="font-size: 2.5vh; color: silver;">Computer Vision Engineer</span></br>
              </p>
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; padding: 0; margin: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 0; margin: 0;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 0; right-margin: 8vw;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 0; left-margin: 8vw;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vh;"></i>
                  </a>
                </li>
              </ul>
            </td>
            
          </tr>
        </table>
    </div>
  </div>
</div>
</section>
