<section id="about" class="container content-section">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/>
      <center>
        <iframe width="50vmin" height="31vmin" src="https://www.youtube.com/embed/_E2iiuunK-E" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </center>
      <h2>About Us</h2>
      <h3>Our team aims to solve three problems faced by agriculture in Kazakhstan.</h3>
      <span style="color: gray">
      <h4>1. Billions of dollars are spent on herbicides to fight with weeds.</h4>
      <h4>2. Weeds get resistant to herbicides, due to usage in high doses.</h4>
      <h4>3. Herbicides largely contribute to human health problems and water, soil, and air contamination.</h4>
      </span>
    </div>
    <div class="col-lg-8 col-lg-offset-2"> 
      <br/>
      <h2>Meet the Team</h2>
      <br/>
      <div>
        <table width="100%" border="0" cellpadding="6">
          <tr>

            <td align="center" valign="center">
              <img src="img/miras.png" style="width: 9vmax" alt="Miras Sovetov"></br>
              <p>
                <span style="font-size: 2.5vmin">Miras Sovetov</span></br>
                <span style="font-size: 2vmin; color: silver;">Founder and CEO</span></br> 
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/vipin.png" style="width: 9vmax" alt="Vipin Kizhepatt"></br>
              <p>
                <span style="font-size: 2.5vmin">Vipin Kizhepatt</span><br/>
                <span style="font-size: 2vmin; color: silver;">VP for Engineering</span></br> 
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>
            
            <td align="center" valign="center">
              <img src="img/vladimir.png" style="width: 9vmax" alt="Vladimir Novokhatsky"></br>
              <p>
                <span style="font-size: 2.5vmin">Vladimir Novokhatsky</span><br/>
                <span style="font-size: 2vmin; color: silver;">Electrical Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td align="center" valign="center">
              <img src="img/aidar.png" style="width: 9vmax" alt="Aidar Alimbayev"><br/>
              <p>
                <span style="font-size: 2.5vmin">Aidar Alimbayev</span><br/>
                <span style="font-size: 2vmin; color: silver;">Electrical Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/daniyar.png" style="width: 9vmax" alt="Daniyar Amantayev"><br/>
              <p>
                <span style="font-size: 2.5vmin">Daniyar Amantayev</span><br/>
                <span style="font-size: 2vmin; color: silver;">Software Engineer</span></br>
              </p>
              
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>

            <td align="center" valign="center">
              <img src="img/otaniyoz.png" style="width: 9vmax" alt="Otaniyoz Otaniyozov"><br/>
              <p>
                <span style="font-size: 2.5vmin">Otaniyoz Otaniyozov</span><br/>
                <span style="font-size: 2vmin; color: silver;">Computer Vision Engineer</span></br>
              </p>
              <ul style="display: inline-block; text-align: center; list-style-type: none; list-style: none; overflow: hidden; margin: 0; padding: 0;">
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                  <a href="https://github.com/otaniyoz" style="display: block; text-align: center; text-decoration: none; padding: 2px; right-margin: 5px;">
                    <i class="fa fa-github" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
                <li style="display: inline-block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                  <a href="https://twitter.com/notsoperfecttwi" style="display: block; text-align: center; text-decoration: none; padding: 2px; left-margin: 5px;">
                    <i class="fa fa-twitter" style="color: silver; text-align: center; font-size: 3.5vmin;"></i>
                  </a>
                </li>
              </ul>
            </td>
            
          </tr>
        </table>
    </div>
  </div>
</div>
</section>
